@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';

@custom-variant dark (&:where(.dark, .dark *));

a {
  list-style: none;
  text-decoration: none !important;
  color: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:600;
}

button {
  cursor: pointer;
}

.point {
  cursor: pointer;
}